* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 0.13rem;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #171717;
}

#root {
  max-width: 768px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative !important;
}
